# Little Lemon Client Database

Step 1 - Install necessary packages

In [ ]:
!pip install mysql-connector-python

Step 2 - We need import the packages

In [1]:
import mysql.connector as connector

Step 3 - Create a connection

In [2]:
connection = connector.connect(user = "root", password = "", db = "LittleLemonDB", port = 3307)

Step 4 - Create a cursor

In [3]:
cursor = connection.cursor()

Adding query function to show tables into the database

In [14]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
result = cursor.fetchall()
print(result)

[('Bookings',), ('Customers',), ('Items',), ('Menu',), ('MoreThanTwoOrders',), ('OrderDeliveryStatus',), ('Orders',), ('OrdersView',), ('OrdersWithCostGratherThan',), ('Staff',)]

Query with table join

In [4]:
join_query = """
              SELECT Customers.CustomerName, Customers.Email, Orders.TotalCost
              FROM Customers INNER JOIN Orders
              ON Customers.CustomerID = Orders.OrderID
              WHERE Orders.TotalCost > 60;
             """ 
                
cursor.execute(join_query)
result = cursor.fetchall()
print(result)

[('Pedro Gonzalez', 'pedrog@mail.com', Decimal('65'))]